# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log

ai -score.session.sql